body{
    background-image: url("bg/feed.jpg");
    background-size: cover;
    margin-top :60px;
    margin-bottom: 80px;
}
content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:350;
}
form{
    margin:10px;
    display: flex;
    flex-direction: row;  
    justify-content: space-around;
    
}
fieldset {
    /* color:rgb(255, 255, 255); */
    padding:20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: linear-gradient(#f69c3c4c, #3f87a655);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    /* align-items: center; */
    text-align:center;
    border:none;
    /* border:2px solid rgb(93, 196, 255) ; */
    border-radius: 12px;
}
 label {
    width: 120px;
    text-align: left;
    font-size:large;    
    margin-right: 7px;
    line-height: 1.75em;
} 
input,button,textarea,select,input[type="file"]{

    background:transparent;
    width: 200px;
    padding: 6px 10px;
    margin: 8px 0;
    border: 1px solid;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
} 
input[type="radio"],input[type="checkbox"],.merge{
    margin: 8px 8px;
    display: inline;
    width:20px;
    height: 20px;
    align-items: flex-start;

}
/* input[type="file"] button{

}
    */