body {
  background-image: url("bg/pay.jpeg");
  background-size: cover;
  margin-top: 60px;
  margin-bottom: 80px;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.hide {
  display: none;
}
#alert {
  display: none;
  position: relative;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  align-items: center;
}
#alert-text {
  margin: none;
  color: #721c24;
  display: inline-block;
}
#alert-close {
  display: inline;
  font-size: 2rem;
  color: #721c24;
  background-color: #f8d7da;
  border: none;
  float: right;
}
.content form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.content form div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  background-color: rgba(255, 255, 255, 0.218);
  border-radius: 25px;
}
.content form div p {
  font-size: x-large;
  font-weight: bolder;
  color: rgb(253, 253, 253);
  margin-bottom: 40px;
}
div img {
  margin-top: 20px;
  border-radius: 10px;
  border: 2px solid rgb(146, 0, 243);
}

input {
  width: 300px;
  padding: 6px 10px;
  box-sizing: border-box;
  background-color: rgb(255, 239, 242);
  border: 2px solid rgb(146, 0, 243);
  border-radius: 4px;
  font-size: 16px;
  margin-top: 1px;
  margin-bottom: 12px;
}
select {
  width: 50%;
  /* height: */
  padding: 10px 20px;
  margin: 8px 0;
  /* color:rgb(2, 196, 2); */
  box-sizing: border-box;
  border: 2px solid rgb(146, 0, 243);
  border-radius: 4px;
  font-size: 13px;
  background-color: rgb(255, 239, 242);
  font-weight: bold;
}
input[type="submit"] {
  /* margin:25px; */
  padding: 15px;
  margin-top: 30px;
  display: flex;
  width: 140px;
  background-color: rgb(255, 239, 242);
  color: rgb(1, 3, 87);
  /* opacity: 70%; */
}
